.display-flex{
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;

  h1 {
    font-size: 40px;
  }

  input {
    margin-top: 20px;
  }
}
