<div class="container">
  <app-card-view>
    <app-months [typeItem]="'debts'"></app-months>
    <div *ngIf="!emptyResult && !loading">
      <h1>Cadastre suas Dívidas</h1>
      <mat-form-field appearance="standard" class="input-filter">
        <mat-label class="mat-label">Econtrar Dívida</mat-label>
        <input
          matInput
          placeholder="Pesquisar Dívida"
          (keyup)="applyFilter($event)"
          #input
        />
      </mat-form-field>
    </div>
    <button
      color="primary"
      class="btn-default btn btn-primary"
      (click)="openDialog()"
    >
      Adicionar Dívida
    </button>
    <div class="center">
      <mat-spinner *ngIf="loading"></mat-spinner>
    </div>
    <table
      *ngIf="!loading && !emptyResult"
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="despesa">
        <th mat-header-cell *matHeaderCellDef>Despesa</th>
        <td mat-cell *matCellDef="let element">{{ element.despesa }}</td>
      </ng-container>

      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef>Categoria</th>
        <td mat-cell *matCellDef="let element">{{ element.categoria }}</td>
      </ng-container>

      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef>Valor</th>
        <td mat-cell *matCellDef="let element">
          {{ element.valor | currency: "BRL":true }}
        </td>
      </ng-container>

      <ng-container matColumnDef="dataVencimento">
        <th mat-header-cell *matHeaderCellDef>Data de Vencimento</th>
        <td mat-cell *matCellDef="let element">
          {{ element.dataVencimento | date: "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let element">
          <div *ngFor="let img of element.acoes; let i = index">
            <img class="image" (click)="selectAction(img, element)" [src]="img" alt="">
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <!-- Ver se vai usar -->
    <!-- <mat-paginator
      *ngIf="!emptyResult && !loading"
      #paginator
      [length]="100"
      [pageSize]="2"
      [pageSizeOptions]="pageSize"
      aria-label="Select page"
    >
    </mat-paginator> -->

    <ng-container *ngIf="emptyResult && !loading">
      <div class="container">
        <div class="center">
          <span>Você ainda não cadastrou dívidas para esse mês.</span>
        </div>
      </div>
    </ng-container>
  </app-card-view>
  <div class="float-right" *ngIf="!loading">
    <h1>Total das suas dívidas: {{ total | currency: 'BRL': true}}</h1>
  </div>
</div>
